<?xml version="1.0"?>
<qlicserverConfig>
 <resources>
  <param name="dir">/var/opt/geassist//cache/qlic</param>
  <param name="output">qlicserver.xml</param>
  <param name="qstat">qstat.xml</param>
  <param name="LM_LICENSE_FILE">27003@ls-1.chemeng.ucl.ac.uk:27001@lic-matlab.ucl.ac.uk:1999@ntsrv1.meng.ucl.ac.uk:1055@lic-ansys.ucl.ac.uk</param>
  <param name="lmutil">/opt/geassist/qlic/site/lmutil</param>
    <resource name="arbbl" served="ArBBL"/>
    <resource name="ccmpsuite" served="ccmpsuite"/>
    <resource name="ccompl" served="CCompL"/>
    <resource name="dbgl" served="DbgL"/>
    <resource name="fcompl" served="FCompL"/>
    <resource name="ib87c5f90" served="IB87C5F90"/>
    <resource name="iclstktl" served="IClsTktL"/>
    <resource name="itranll" served="ITrAnlL"/>
    <resource name="itranlw" served="ITrAnlW"/>
    <resource name="itrcoll" served="ITrColL"/>
    <resource name="mkernl" served="MKernL"/>
    <resource name="mpass" served="MPass"/>
    <resource name="mpassl" served="MPassL"/>
    <resource name="pgi2011-server-complete" served="PGI2011-server-complete"/>
    <resource name="pgi71-server-complete" served="PGI71-server-complete"/>
    <resource name="perfprim" served="PerfPrim"/>
    <resource name="perfpriml" served="PerfPrimL"/>
    <resource name="threadbb" served="ThreadBB"/>
    <resource name="aa_mcad" served="aa_mcad"/>
    <resource name="aa_r" served="aa_r"/>
    <resource name="aa_r_hpc" served="aa_r_hpc"/>
    <resource name="fluent" served="fluent"/>
    <resource name="fluent-nox" served="fluent-nox"/>
    <resource name="fluent-par" served="fluent-par"/>
    <resource name="fluentall" served="fluentall"/>
    <resource name="gambit" served="gambit"/>
    <resource name="matlab" served="MATLAB"/>
    <resource name="geom-trans" served="geom-trans"/>
    <resource name="pgcc-linux86" served="pgcc-linux86"/>
    <resource name="pgcc-linux86-64" served="pgcc-linux86-64"/>
    <resource name="pgcpp-linux86" served="pgcpp-linux86"/>
    <resource name="pgcpp-linux86-64" served="pgcpp-linux86-64"/>
    <resource name="pgdbg" served="pgdbg"/>
    <resource name="pgdbg-gui" served="pgdbg-gui"/>
    <resource name="pgdbg-linux86-64" served="pgdbg-linux86-64"/>
    <resource name="pgf77-linux86" served="pgf77-linux86"/>
    <resource name="pgf77-linux86-64" served="pgf77-linux86-64"/>
    <resource name="pgf90-linux86" served="pgf90-linux86"/>
    <resource name="pgf90-linux86-64" served="pgf90-linux86-64"/>
    <resource name="pghpf-linux86" served="pghpf-linux86"/>
    <resource name="pghpf-linux86-64" served="pghpf-linux86-64"/>
    <resource name="pgi-cc-lin32" served="pgi-cc-lin32"/>
    <resource name="pgi-cc-lin64" served="pgi-cc-lin64"/>
    <resource name="pgi-cpp-lin32" served="pgi-cpp-lin32"/>
    <resource name="pgi-cpp-lin64" served="pgi-cpp-lin64"/>
    <resource name="pgi-dbg" served="pgi-dbg"/>
    <resource name="pgi-dbg-gui" served="pgi-dbg-gui"/>
    <resource name="pgi-f77-lin32" served="pgi-f77-lin32"/>
    <resource name="pgi-f77-lin64" served="pgi-f77-lin64"/>
    <resource name="pgi-f95-lin32" served="pgi-f95-lin32"/>
    <resource name="pgi-f95-lin64" served="pgi-f95-lin64"/>
    <resource name="pgi-hpf-lin32" served="pgi-hpf-lin32"/>
    <resource name="pgi-hpf-lin64" served="pgi-hpf-lin64"/>
    <resource name="pgi-prof" served="pgi-prof"/>
    <resource name="pgprof" served="pgprof"/>
    <resource name="tgrid" served="tgrid"/>
    <resource name="comsol" served="COMSOL"/>
    <resource name="comsolb" served="COMSOLBATCH"/>
    <resource name="starsuite" served="starsuite"/>
 </resources>
</qlicserverConfig>
